.layout-grid{
    width: 100%;
    height: auto;
}
.layout-wrapper {
    max-width: 100%;
    background-color: transparent;
    display: grid;
    grid-template-columns: repeat(3, 1fr);


    gap: 50px;


    margin-top: 5%;
    margin-left: 6%;
    margin-right: 6%;
}

@media screen and (max-width: 768px){
    .layout-wrapper {
        max-width: 100%;
        background-color: transparent;
        display: grid;
        grid-template-columns: repeat(1, 1fr);


        gap: 50px;


        margin-top: 5%;
        margin-left: 6%;
        margin-right: 6%;
    }


}
