
.bg-image{
    position: absolute;
    right: 0;
    top: 0;
    z-index: -100;
    width: 100%;
    height: 100%;
    filter: brightness(0.65);

}

.Introduction{
    color: white;
    font-size: 5em;
    font-weight: bolder;
    align-self: center;
}
.intro-container{
    height: 100vh;
    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 10px solid white;

}

.desc{
    font-size: 2.5rem;
    color: white;
}

#react{
    color: #61DBFB;
}
#react:hover{
    color: white;
}
#android{
    color: #a4c639;
}

#android:hover{
    color: white;
}

.skill-for-hover:hover{
    color: white;
}


@media screen and (max-width: 768px) {
    .bg-image{
        position: absolute;
        right: 0;
        top: 0;
        z-index: -100;
        width: 100%;
        height: 100%;
        filter: brightness(0.45);

    }
    .Introduction{
        color: white;
        font-size: 2.5em;
        font-weight: bolder;
        align-self: center;
    }
    .desc{
        font-size: 1rem;
        color: white;
    }
    .intro-container{
        height: 100vh;
        display: flex;

        flex-direction: column;
        align-items: center;
        justify-content: center;
    }


}
.name-anime{
    animation: 4s name ease-out ;
    z-index: 9;
}
@keyframes name {

    0%{

        transform: translateY(-50vh) ;
    }



}

.description-anime{
    animation: 3s descLoading ease-in-out;

    height: auto;
    text-align: center;

}
@keyframes descLoading {

    0%{

        opacity: 0;
    }
    100%{

        opacity: 1;
    }

}